@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("../fonts/Gilroy-Heavy.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url("../fonts/Gilroy-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url("../fonts/Gilroy-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Giloroy-Regular', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-wrap {
  font-family: Gilroy-Light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 17px;
}

.header-logo {
  max-width: 180px;
}

.header-logo img {
  width: 100%;
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40%;
  margin-left: 145px;
}

.contact-info__item {
  font-family: Gilroy-SemiBold;
  max-width: 180px;
  font-size: 18px;
  padding-left: 25px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: -4px center;
}

.contact-info__item:last-child {
  margin-left: 0;
}

.contact-info__item a {
  color: #2D333E;
}

.contact-info__header {
  display: block;
  font-size: 10px;
  line-height: 130%;
  text-transform: uppercase;
  color: #9BA3B0;
  margin-bottom: 5px;
}

.order-call {
  font-family: Gilroy-Heavy;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
  border: 1px solid #D5D7E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 25px rgba(45, 51, 62, 0.04);
  box-shadow: 0px 15px 25px rgba(45, 51, 62, 0.04);
  border-radius: 100px;
}

.order-call a {
  color: #2D333E;
  padding: 11px 25px;
}

@media screen and (max-width: 1024px) {
  .contact-info__item {
    font-size: 16px;
  }

  .contact-info__item span {
    font-size: 10px;
  }
}

@media screen and (max-width: 925px) {
  .contact-wrap {
    margin-left: 105px;
  }

  .contact-info__item {
    font-size: 14px;
  }

  .contact-info__item span {
    font-size: 8px;
  }

  .order-call {
    font-size: 9px;
  }

  .order-call a {
    padding: 9px 20px;
  }
}

@media screen and (max-width: 780px) {
  .header-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-wrap {
    margin-left: 60px;
  }

  .contact-info__item {
    font-size: 13px;
    margin-right: 20px;
  }

  .contact-info__item span {
    margin-bottom: 3px;
  }

  .contact-info__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 740px) {
  .header-wrap {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-info__item {
    font-size: 12px;
    margin-right: 20px;
  }

  .contact-info__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 679px) {
  .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact-info__item {
    font-size: 12px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .contact-info__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 653px) {
  .contact-wrap {
    margin-left: 0;
  }
}

@media screen and (max-width: 553px) {
  .contact-info__item {
    font-size: 10px;
  }

  .contact-info__item span {
    font-size: 6px;
  }

  .order-call {
    font-size: 6px;
  }

  .order-call a {
    padding: 6px 17px;
  }
}

@media screen and (max-width: 420px) {
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-wrap {
    margin-bottom: 7px;
  }

  .order-call {
    margin-bottom: 7px;
  }

  .order-call a {
    padding: 5px 25px;
  }
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 51, 62, 0.45)), to(rgba(255, 255, 255, 0))), url("../img/banner.png");
  background-image: linear-gradient(180deg, rgba(45, 51, 62, 0.45) 0%, rgba(255, 255, 255, 0) 100%), url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin-top: 89px;
}

.banner-content a {
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 189, 255, 0.95)), to(rgba(96, 153, 246, 0.9)));
  background: linear-gradient(180deg, rgba(115, 189, 255, 0.95) 0%, rgba(96, 153, 246, 0.9) 100%);
  -webkit-box-shadow: 0px 15px 25px rgba(45, 51, 62, 0.04);
  box-shadow: 0px 15px 25px rgba(45, 51, 62, 0.04);
  border-radius: 100px;
  color: #fff;
  padding: 15px 30px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 175px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner-title {
  font-family: Gilroy-Thin;
  font-weight: 100;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 80px;
}

.banner-title span {
  display: block;
  font-family: Gilroy-Black;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0.1em;
  margin-top: 35px;
  text-transform: uppercase;
}

.banner-title span:last-child {
  margin-top: 0;
}

.navigation {
  padding: 19px 0;
}

.menu-toggle {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Gilroy-SemiBold';
}

.menu-link {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 25px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-link:hover {
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 3px;
}

.hr {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1024px) {
  .banner-title {
    font-size: 30px;
    margin-bottom: 65px;
  }

  .banner-title span {
    font-size: 50px;
    margin-top: 30px;
  }

  .banner-title span:last-child {
    margin-top: 0;
  }

  .banner-content a {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 925px) {
  .banner-title {
    font-size: 28px;
    line-height: 37px;
  }

  .banner-title span {
    font-size: 45px;
    margin-top: 25px;
    line-height: 60px;
  }

  .banner-title span:last-child {
    margin-top: 0;
  }

  .banner-content a {
    font-size: 10px;
  }
}

@media screen and (max-width: 825px) {
  .banner-title {
    font-size: 23px;
    line-height: 37px;
  }

  .banner-title span {
    font-size: 35px;
    margin-top: 20px;
    line-height: 55px;
  }

  .banner-title span:last-child {
    margin-top: 0;
  }

  .banner-content a {
    font-size: 9px;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 740px) {
  .banner-title {
    font-size: 20px;
    line-height: 35px;
  }

  .banner-title span {
    font-size: 30px;
    margin-top: 17px;
    line-height: 50px;
  }

  .banner-title span:last-child {
    margin-top: 0;
  }

  .banner-content a {
    font-size: 8px;
  }

  .navigation {
    padding: 13px 0;
  }

  .menu-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 679px) {
  .navigation {
    position: relative;
    text-align: center;
  }

  .menu-toggle {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 37px;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    background: #fff;
  }

  .menu-toggle span + span {
    margin-top: 8px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    min-width: 200px;
    margin-top: 20px;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 2;
  }

  .banner-content {
    margin-top: 45px;
  }
}

@media screen and (max-width: 653px) {
  .banner-title {
    font-size: 20px;
    line-height: 30px;
  }

  .banner-title span {
    font-size: 30px;
    margin-top: 15px;
    line-height: 45px;
  }

  .banner-title span:last-child {
    margin-top: 0;
  }

  .banner-content a {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 555px) {
  .banner-title {
    font-size: 15px;
  }

  .banner-title span {
    font-size: 20px;
    line-height: 35px;
  }

  .banner-content a {
    font-size: 7px;
    padding: 7px 20px;
  }
}

@media screen and (max-width: 420px) {
  .menu-toggle {
    width: 30px;
  }

  .menu-toggle span {
    height: 2px;
  }
}

.about {
  position: relative;
  margin-top: 75px;
  background-color: #fff;
  z-index: 1;
}

.about-title {
  font-family: Gilroy-Black;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #2D333E;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.about-title span {
  display: block;
  font-family: Gilroy-Light;
  font-weight: 100;
}

.about-subtitle {
  font-family: Gilroy-Regular;
  font-size: 18px;
  line-height: 160%;
  color: #9BA3B0;
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 62px;
}

.about-services {
  min-width: 510px;
  height: auto;
  margin-right: 30px;
}

.about-services__head {
  background: linear-gradient(120.47deg, #2EE99A 0%, #08AF69 100%);
  background-image: url("../img/services.png");
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 5px;
  margin-bottom: 62px;
}

.about-services__head--title {
  font-family: Gilroy-Bold;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  padding-top: 60px;
  margin: 0 0 12px 40px;
}

.about-services__head--desc {
  font-family: Gilroy-Regular;
  font-size: 14px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 82px 40px;
  max-width: 210px;
}

.about-services__head--btn {
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 136px 0;
  padding-bottom: 35px;
  margin-left: 40px;
}

.about-services__head--btn a {
  display: inline-block;
  font-family: Gilroy-Regular;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  padding-right: 40px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-services__head--btn a:hover {
  border-bottom: 1px solid #fff;
}

.about-services__list {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 120%;
  color: #5A6475;
}

.about-services__list--item {
  background-image: url("../img/services-item.png");
  background-repeat: no-repeat;
  background-position: -8px 0;
  padding-left: 22px;
  margin-bottom: 29px;
}

.about-services__list--item:last-child {
  margin-bottom: 0;
}

.about-beautification {
  min-width: 510px;
  height: auto;
}

.about-beautification__head {
  background: linear-gradient(120.47deg, rgba(115, 189, 255, 0.95) 0%, #6099F6 100%);
  background-image: url("../img/beautification.png");
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 5px;
  margin-bottom: 62px;
}

.about-beautification__head--title {
  font-family: Gilroy-Bold;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  padding-top: 60px;
  margin: 0 0 12px 40px;
}

.about-beautification__head--desc {
  font-family: Gilroy-Regular;
  font-size: 14px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 82px 40px;
  max-width: 225px;
}

.about-beautification__head--btn {
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 136px 0;
  padding-bottom: 35px;
  margin-left: 40px;
}

.about-beautification__head--btn a {
  display: inline-block;
  font-family: Gilroy-Regular;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  padding-right: 40px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-beautification__head--btn a:hover {
  border-bottom: 1px solid #fff;
}

.about-beautification__list {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 120%;
  color: #5A6475;
}

.about-beautification__list--item {
  background-image: url("../img/beautification-item.png");
  background-repeat: no-repeat;
  background-position: -8px 0;
  padding-left: 22px;
  margin-bottom: 29px;
}

.about-beautification__list--item:last-child {
  margin-bottom: 0;
}

.show-more {
  font-family: Gilroy-Black;
  font-size: 12px;
  line-height: 120%;
  color: #2D333E;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  background-image: url("../img/show-more.png");
  background-repeat: no-repeat;
  background-position: 100px;
  margin-top: 46px;
  margin-bottom: 57px;
  margin-left: 22px;
}

@media screen and (max-width: 1099px) {
  .about-services,
  .about-beautification {
    min-width: 490px;
  }
}

@media screen and (max-width: 1056px) {
  .about-services,
  .about-beautification {
    min-width: 450px;
  }
}

@media screen and (max-width: 977px) {
  .about-title {
    font-size: 36px;
  }

  .about-subtitle {
    font-size: 16px;
  }

  .about-services,
  .about-beautification {
    min-width: 425px;
  }

  .about-services__list {
    font-size: 14px;
  }

  .about-beautification__list {
    font-size: 14px;
  }

  .show-more {
    font-size: 10px;
    background-position: 95px;
  }
}

@media screen and (max-width: 925px) {
  .about-services,
  .about-beautification {
    min-width: 400px;
  }

  .about-services__head--title {
    font-size: 26px;
  }

  .about-services__head--desc {
    max-width: 200px;
    font-size: 13px;
  }

  .about-services__head--btn {
    background-position: 122px 0;
  }

  .about-services__head--btn a {
    font-size: 14px;
    padding-right: 35px;
  }

  .about-beautification__head--title {
    font-size: 26px;
  }

  .about-beautification__head--desc {
    font-size: 13px;
  }

  .about-beautification__head--btn {
    background-position: 122px 0;
  }

  .about-beautification__head--btn a {
    font-size: 14px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 878px) {
  .about-title {
    font-size: 33px;
  }

  .about-subtitle {
    font-size: 14px;
    width: 80%;
  }

  .about-services,
  .about-beautification {
    min-width: 320px;
  }

  .about-services__head--btn {
    background-position: 105px 0;
  }

  .about-services__head--btn a {
    padding-right: 22px;
  }
}

@media screen and (max-width: 715px) {
  .about-title {
    font-size: 28px;
  }

  .about-subtitle {
    font-size: 12px;
  }

  .about-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-services,
  .about-beautification {
    max-width: 320px;
  }

  .about-services {
    margin-right: 0;
  }

  .about-services__head {
    margin-bottom: 50px;
  }

  .about-services__list {
    font-size: 12px;
  }

  .about-beautification__list {
    font-size: 12px;
  }

  .about-beautification__head {
    margin-bottom: 50px;
  }
}

.contact-map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 38px;
}

.contact-map__content {
  background-color: #fff;
  -webkit-box-shadow: 0px 25px 45px rgba(27, 43, 68, 0.1);
  box-shadow: 0px 25px 45px rgba(27, 43, 68, 0.1);
  border-radius: 10px;
  max-width: 330px;
}

.contact-map__title {
  font-family: Gilroy-Black;
  font-size: 28px;
  line-height: 120%;
  padding-top: 40px;
  color: #2D333E;
  text-align: center;
}

.contact-map__adress {
  font-family: Gilroy-Regular;
  font-size: 15px;
  line-height: 145%;
  padding-top: 30px;
  padding-left: 85px;
  color: #2D333E;
  background-image: url("../img/marker.png");
  background-repeat: no-repeat;
  background-position: 40px 30px;
}

.contact-map__phone {
  padding-top: 30px;
  padding-left: 85px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: 40px 30px;
}

.contact-map__phone a {
  font-family: Gilroy-Regular;
  font-size: 15px;
  line-height: 145%;
  color: #2D333E;
}

.contact-map__btn {
  text-align: center;
}

.contact-map__btn a {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 189, 255, 0.95)), to(rgba(96, 153, 246, 0.9)));
  background: linear-gradient(180deg, rgba(115, 189, 255, 0.95) 0%, rgba(96, 153, 246, 0.9) 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(96, 153, 246, 0.15);
  box-shadow: 0px 10px 20px rgba(96, 153, 246, 0.15);
  border-radius: 100px;
  font-family: Gilroy-Black;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 25px;
  margin-top: 41px;
  margin-bottom: 35px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .contact-map__title {
    font-size: 26px;
  }

  .contact-map__adress {
    font-size: 14px;
  }

  .contact-map__phone a {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .contact-map__content {
    max-width: 280px;
  }

  .contact-map__title {
    font-size: 23px;
  }

  .contact-map__adress {
    font-size: 12px;
    padding-left: 70px;
    background-position: 30px 30px;
  }

  .contact-map__phone {
    padding-left: 70px;
    background-position: 30px 30px;
  }

  .contact-map__phone a {
    font-size: 12px;
  }

  .contact-map__btn a {
    font-size: 8px;
    padding: 11px 20px;
  }
}

@media screen and (max-width: 730px) {
  .contact-map__content {
    max-width: 230px;
  }

  .contact-map__title {
    font-size: 20px;
    padding-top: 30px;
  }

  .contact-map__adress {
    font-size: 11px;
    padding-left: 55px;
    background-position: 15px 30px;
  }

  .contact-map__phone {
    padding-left: 55px;
    background-position: 15px 30px;
  }

  .contact-map__phone a {
    font-size: 11px;
  }

  .contact-map__btn a {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .contact-map__content {
    max-width: 190px;
  }

  .contact-map__title {
    font-size: 20px;
    padding-top: 20px;
  }

  .contact-map__adress {
    font-size: 10px;
    padding-left: 35px;
    padding-top: 20px;
    background-position: 5px 20px;
  }

  .contact-map__phone {
    padding-left: 35px;
    padding-top: 20px;
    background-position: 5px 20px;
  }

  .contact-map__phone a {
    font-size: 10px;
  }

  .contact-map__btn a {
    font-size: 7px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

footer {
  background: #2D333E;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  margin-top: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Gilroy-SemiBold';
  background-color: transparent;
}

footer .menu-link {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 25px;
  color: #fff;
}

.copyright {
  font-family: Gilroy-Regular;
  font-size: 14px;
  line-height: 160%;
  color: #5E697D;
  margin-top: 17px;
  padding-bottom: 11px;
}

@media screen and (max-width: 780px) {
  footer .menu-link {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 15px;
  }

  footer .copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 678px) {
  footer .menu {
    padding: 0;
  }

  footer .menu-link {
    font-size: 12px;
    line-height: 15px;
    padding: 0 15px;
  }
}